<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>animations</key>
        <dict>
            <key>hero_attack_down</key>
            <dict>
                <key>delay</key>
                <real>0.2</real>
                <key>frames</key>
                <array>
                    <string>hero_attack_down_00</string>
                    <string>hero_attack_down_01</string>
                    <string>hero_attack_down_02</string>
                    <string>hero_attack_down_03</string>
                    <string>hero_attack_down_04</string>
                    <string>hero_attack_down_05</string>
                    <string>hero_attack_down_06</string>
                    <string>hero_attack_down_07</string>
                    <string>hero_attack_down_08</string>
                    <string>hero_attack_down_09</string>
                    <string>hero_attack_down_10</string>
                    <string>hero_attack_down_11</string>
                    <string>hero_attack_down_12</string>
                </array>
            </dict>
            <key>hero_attack_left</key>
            <dict>
                <key>delay</key>
                <real>0.2</real>
                <key>frames</key>
                <array>
                    <string>hero_attack_left_00</string>
                    <string>hero_attack_left_01</string>
                    <string>hero_attack_left_02</string>
                    <string>hero_attack_left_03</string>
                    <string>hero_attack_left_04</string>
                    <string>hero_attack_left_05</string>
                    <string>hero_attack_left_06</string>
                    <string>hero_attack_left_07</string>
                    <string>hero_attack_left_08</string>
                    <string>hero_attack_left_09</string>
                    <string>hero_attack_left_10</string>
                    <string>hero_attack_left_11</string>
                    <string>hero_attack_left_12</string>
                </array>
            </dict>
            <key>hero_attack_right</key>
            <dict>
                <key>delay</key>
                <real>0.2</real>
                <key>frames</key>
                <array>
                    <string>hero_attack_right_00</string>
                    <string>hero_attack_right_01</string>
                    <string>hero_attack_right_02</string>
                    <string>hero_attack_right_03</string>
                    <string>hero_attack_right_04</string>
                    <string>hero_attack_right_05</string>
                    <string>hero_attack_right_06</string>
                    <string>hero_attack_right_07</string>
                    <string>hero_attack_right_08</string>
                    <string>hero_attack_right_09</string>
                    <string>hero_attack_right_10</string>
                    <string>hero_attack_right_11</string>
                    <string>hero_attack_right_12</string>
                </array>
            </dict>
            <key>hero_attack_up</key>
            <dict>
                <key>delay</key>
                <real>0.2</real>
                <key>frames</key>
                <array>
                    <string>hero_attack_up_00</string>
                    <string>hero_attack_up_01</string>
                    <string>hero_attack_up_02</string>
                    <string>hero_attack_up_03</string>
                    <string>hero_attack_up_04</string>
                    <string>hero_attack_up_05</string>
                    <string>hero_attack_up_06</string>
                    <string>hero_attack_up_07</string>
                    <string>hero_attack_up_08</string>
                    <string>hero_attack_up_09</string>
                    <string>hero_attack_up_10</string>
                    <string>hero_attack_up_11</string>
                    <string>hero_attack_up_12</string>
                </array>
            </dict>
            <key>hero_cast_down</key>
            <dict>
                <key>delay</key>
                <real>0.2</real>
                <key>frames</key>
                <array>
                    <string>hero_cast_down_00</string>
                    <string>hero_cast_down_01</string>
                    <string>hero_cast_down_02</string>
                    <string>hero_cast_down_03</string>
                    <string>hero_cast_down_04</string>
                    <string>hero_cast_down_05</string>
                    <string>hero_cast_down_06</string>
                </array>
            </dict>
            <key>hero_cast_left</key>
            <dict>
                <key>delay</key>
                <real>0.2</real>
                <key>frames</key>
                <array>
                    <string>hero_cast_left_00</string>
                    <string>hero_cast_left_01</string>
                    <string>hero_cast_left_02</string>
                    <string>hero_cast_left_03</string>
                    <string>hero_cast_left_04</string>
                    <string>hero_cast_left_05</string>
                    <string>hero_cast_left_06</string>
                </array>
            </dict>
            <key>hero_cast_right</key>
            <dict>
                <key>delay</key>
                <real>0.2</real>
                <key>frames</key>
                <array>
                    <string>hero_cast_right_00</string>
                    <string>hero_cast_right_01</string>
                    <string>hero_cast_right_02</string>
                    <string>hero_cast_right_03</string>
                    <string>hero_cast_right_04</string>
                    <string>hero_cast_right_05</string>
                    <string>hero_cast_right_06</string>
                </array>
            </dict>
            <key>hero_cast_up</key>
            <dict>
                <key>delay</key>
                <real>0.2</real>
                <key>frames</key>
                <array>
                    <string>hero_cast_up_00</string>
                    <string>hero_cast_up_01</string>
                    <string>hero_cast_up_02</string>
                    <string>hero_cast_up_03</string>
                    <string>hero_cast_up_04</string>
                    <string>hero_cast_up_05</string>
                    <string>hero_cast_up_06</string>
                </array>
            </dict>
            <key>hero_die</key>
            <dict>
                <key>delay</key>
                <real>0.2</real>
                <key>frames</key>
                <array>
                    <string>hero_die_00</string>
                    <string>hero_die_01</string>
                    <string>hero_die_02</string>
                    <string>hero_die_03</string>
                    <string>hero_die_04</string>
                    <string>hero_die_05</string>
                </array>
            </dict>
            <key>hero_walk_down</key>
            <dict>
                <key>delay</key>
                <real>0.2</real>
                <key>frames</key>
                <array>
                    <string>hero_walk_down_00</string>
                    <string>hero_walk_down_01</string>
                    <string>hero_walk_down_02</string>
                    <string>hero_walk_down_03</string>
                    <string>hero_walk_down_04</string>
                    <string>hero_walk_down_05</string>
                    <string>hero_walk_down_06</string>
                    <string>hero_walk_down_07</string>
                    <string>hero_walk_down_08</string>
                </array>
            </dict>
            <key>hero_walk_left</key>
            <dict>
                <key>delay</key>
                <real>0.2</real>
                <key>frames</key>
                <array>
                    <string>hero_walk_left_00</string>
                    <string>hero_walk_left_01</string>
                    <string>hero_walk_left_02</string>
                    <string>hero_walk_left_03</string>
                    <string>hero_walk_left_04</string>
                    <string>hero_walk_left_05</string>
                    <string>hero_walk_left_06</string>
                    <string>hero_walk_left_07</string>
                    <string>hero_walk_left_08</string>
                </array>
            </dict>
            <key>hero_walk_right</key>
            <dict>
                <key>delay</key>
                <real>0.2</real>
                <key>frames</key>
                <array>
                    <string>hero_walk_right_00</string>
                    <string>hero_walk_right_01</string>
                    <string>hero_walk_right_02</string>
                    <string>hero_walk_right_03</string>
                    <string>hero_walk_right_04</string>
                    <string>hero_walk_right_05</string>
                    <string>hero_walk_right_06</string>
                    <string>hero_walk_right_07</string>
                    <string>hero_walk_right_08</string>
                </array>
            </dict>
            <key>hero_walk_up</key>
                <dict>
                <key>delay</key>
                <real>0.2</real>
                <key>frames</key>
                <array>
                    <string>hero_walk_up_00</string>
                    <string>hero_walk_up_01</string>
                    <string>hero_walk_up_02</string>
                    <string>hero_walk_up_03</string>
                    <string>hero_walk_up_04</string>
                    <string>hero_walk_up_05</string>
                    <string>hero_walk_up_06</string>
                    <string>hero_walk_up_07</string>
                    <string>hero_walk_up_08</string>
                </array>
            </dict>
        </dict>
    </dict>
</plist>