<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>down1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{0,0},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>down2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{32,0},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>down3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{64,0},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>down4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{96,0},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{0,48},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{32,48},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{64,48},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{96,48},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{0,96},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{32,96},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{64,96},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{96,96},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{0,144},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{32,144},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{64,144},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{96,144},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>hero.png</string>
            <key>size</key>
            <string>{128,192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b8f3929e4e9be02c53204127ad34147:f80cdbf0c197fd3848d64e4a5b4c8135:39db81978b5d821c653ed2e674af469f$</string>
            <key>textureFileName</key>
            <string>hero.png</string>
        </dict>
    </dict>
</plist>
