<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>animations</key>
        <dict>
            <key>red_imp_attack_down</key>
            <dict>
                <key>delay</key>
                <real>0.2</real>
                <key>frames</key>
                <array>
                    <string>red_imp_attack_down_00</string>
                    <string>red_imp_attack_down_01</string>
                    <string>red_imp_attack_down_02</string>
                    <string>red_imp_attack_down_03</string>
                </array>
            </dict>
            <key>red_imp_attack_left</key>
            <dict>
                <key>delay</key>
                <real>0.2</real>
                <key>frames</key>
                <array>
                    <string>red_imp_attack_left_00</string>
                    <string>red_imp_attack_left_01</string>
                    <string>red_imp_attack_left_02</string>
                    <string>red_imp_attack_left_03</string>
                </array>
            </dict>
            <key>red_imp_attack_right</key>
            <dict>
                <key>delay</key>
                <real>0.2</real>
                <key>frames</key>
                <array>
                    <string>red_imp_attack_right_00</string>
                    <string>red_imp_attack_right_01</string>
                    <string>red_imp_attack_right_02</string>
                    <string>red_imp_attack_right_03</string>
                </array>
            </dict>
            <key>red_imp_attack_up</key>
            <dict>
                <key>delay</key>
                <real>0.2</real>
                <key>frames</key>
                <array>
                    <string>red_imp_attack_up_00</string>
                    <string>red_imp_attack_up_01</string>
                    <string>red_imp_attack_up_02</string>
                    <string>red_imp_attack_up_03</string>
                </array>
            </dict>
            <key>red_imp_die</key>
            <dict>
                <key>delay</key>
                <real>0.2</real>
                <key>frames</key>
                <array>
                    <string>red_imp_die_00</string>
                    <string>red_imp_die_01</string>
                    <string>red_imp_die_02</string>
                    <string>red_imp_die_03</string>
                    <string>red_imp_die_04</string>
                    <string>red_imp_die_05</string>
                    <string>red_imp_die_06</string>
                </array>
            </dict>
            <key>red_imp_walk_down</key>
            <dict>
                <key>delay</key>
                <real>0.2</real>
                <key>frames</key>
                <array>
                    <string>red_imp_walk_down_00</string>
                    <string>red_imp_walk_down_01</string>
                    <string>red_imp_walk_down_02</string>
                    <string>red_imp_walk_down_03</string>
                </array>
            </dict>
            <key>red_imp_walk_left</key>
            <dict>
                <key>delay</key>
                <real>0.2</real>
                <key>frames</key>
                <array>
                    <string>red_imp_walk_left_00</string>
                    <string>red_imp_walk_left_01</string>
                    <string>red_imp_walk_left_02</string>
                    <string>red_imp_walk_left_03</string>
                </array>
            </dict>
            <key>red_imp_walk_right</key>
            <dict>
                <key>delay</key>
                <real>0.2</real>
                <key>frames</key>
                <array>
                    <string>red_imp_walk_right_00</string>
                    <string>red_imp_walk_right_01</string>
                    <string>red_imp_walk_right_02</string>
                    <string>red_imp_walk_right_03</string>
                </array>
            </dict>
            <key>red_imp_walk_up</key>
            <dict>
                <key>delay</key>
                <real>0.2</real>
                <key>frames</key>
                <array>
                    <string>red_imp_walk_up_00</string>
                    <string>red_imp_walk_up_01</string>
                    <string>red_imp_walk_up_02</string>
                    <string>red_imp_walk_up_03</string>
                </array>
            </dict>
        </dict>
    </dict>
</plist>
